<div class="container">
  <h3>注文履歴一覧</h3>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <!--購入日時-->
            <td>
              <% link_to admin_order_path(order.id) do %>
                <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
              <% end %>
            </td>
            <!--購入者-->
            <td><%= order.name %></td>
            <!--注文個数-->
            <td><%#= order.order_details.amount %></td>
            <!--注文ステータス-->
            <td><% order.order_status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
