<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
            <tr>
            <td></td>
          </tr>
            <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <table>
        <tr>
          <td　class="table-active">送料</td>
          <td></td>
        </tr>
        <tr>
          <td　class="table-active">商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td　class="table-active">請求金額</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <td>
          <strong>支払方法</strong>
        </td>
      </tr>
      <tr>
        <td>
          <strong>お届け先</strong>
        </td>
      </tr>
    </table>
    <%= form_with model:@order, url: public_orders_path, method: :post do |f| %>
    <% end %>
  </div>
</div>